/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mylink {
  margin-left: 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  text-decoration: none;
  color: grey;
  padding: 10px;
}

.mylink a {
  color: black;
  text-decoration: none;
}

.jumbotron {
  margin-top: 20px;
  color: black;
}

/* Adds borders for tabs */

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 0px 10px;
}

.foot {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a29fa2;
  margin-top: 30px;
  height: 30px;
}



.mytop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

/* HOME */

.desplegable {
  margin-top: 20px;
}

#more {
  display: none;
}

.myitems {
  padding: 50px;
}
