/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif	;
}

.loader {
  margin: 50px;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #536f81;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

.mylink {
  margin-left: 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  text-decoration: none;
  color: grey;
  padding: 10px;
}

.mylink a {
  color: black;
  text-decoration: none;
}

.jumbotron {
  margin-top: 20px;
  color: black;
}

/* Adds borders for tabs */

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 0px 10px;
}

.foot {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a29fa2;
  margin-top: 30px;
  height: 30px;
}

.mytop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

/* HOME */

.desplegable {
  margin-top: 20px;
}

#more {
  display: none;
}

.myitems {
  padding: 30px;
}